@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #374151; /* gray-700 */
    border-radius: 10px;
  }
}

body {
    background-color: #09090b; /* bg-zinc-950 */
    color: white;
}
